// 属性页
.air-property-page {
  // 左右两部分
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  font-family: var(--font-family) !important;
  box-sizing: border-box;

  .air-property-page-content {
    overflow: auto;
  }
}

.air-property-tree-wrapper {
  overflow: hidden;
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  .air-property-tree {
    background: #f8f9fa;
    border-right: 1px solid #ddd;
    overflow: auto;

    .air-property-tree-group {
      font-size: 0.875rem;
      font-weight: 600;
      user-select: none;
      color: #6c757d;
      letter-spacing: 0.02em;

      span {
        height: 40px;
        line-height: 40px;
        padding: 0 12px;
      }
    }
  }
}

.air-property-tree-item {
  height: 40px;
  line-height: 40px;
  padding: 0 18px;
  margin: 2px 8px;
  font-size: 0.9rem;
  font-weight: 450;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 5px;

  &:hover {
    background-color: #f0f2f5;
  }
}
