.air-agent-action-panel {
  .air-input-group-addon {

    width: 80px;
    border: 1px solid var(--color-300);

    .air-select .air-select-selector {
      border: none !important;

      .air-select-selection-item {
        font-size: 0.9rem;
      }
    }
  }
}

