.agent-flow-container {
  position: relative;

  .agent-flow-bar {
    position: absolute;
    top: 12px;
    left: 12px;
    z-index: 999;
    padding: 8px;
    display: flex;
    flex-direction: row;
    gap: 8px;

    // 背景毛玻璃效果
    background: rgba(225, 225, 225, 0.5);
    border: 1px solid rgba(225, 225, 225, 0.9);
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    .agent-flow-bar-divider {
      width: 1px;
      height: 28px;
      background: #aaa;
    }
  }

  .agent-status-bar {
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 999;
    padding: 4px 4px 4px 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    background: #AEFFBD;

    border: 1px solid #123F68;
    border-radius: 4px;

    .agent-status-text {
      font-size: 0.85rem;
      font-weight: 500;
      user-select: none;
    }
  }
}

.dropdown-menu-item {
  display: flex;
  padding-right: 24px;
  align-items: center;
  justify-content: left;
  border-radius: 4px;
  background: transparent;
  gap: 8px;
  font-size: 0.8rem !important;
}

.air-flow-loading-wrapper {
  // 居中
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 100%;

  .air-flow-loading {
    // 上下居中
    display: flex;
    justify-content: center;
    align-items: center;

    width: 80px;
    background: rgba(29, 139, 235, 0.2);
  }
}
