.air-layout-menu {
  position: fixed;
  background-color: #f1f2f3;
  -webkit-overflow-scrolling: touch;
  z-index: 1000;
  border-right: 1px solid #ccc;
  transition: all 0.3s;
  user-select: none;
  overflow: scroll;

  // 自定义滚动条样式
  &::-webkit-scrollbar {
    width: 2px; // 滚动条的宽度
    height: 0; // 滚动条的高度
  }

  // 滚动条轨道样式
  &::-webkit-scrollbar-track {
    background-color: transparent; // 轨道背景透明
  }

  // 滚动条滑块样式
  &::-webkit-scrollbar-thumb {
    background-color: #0D46A1; // 滚动条按钮背景
  }

  // 滚动条滑块悬停样式
  &::-webkit-scrollbar-thumb:hover {
    background-color: #0D46A1; // 悬停时
  }

  .air-layout-menu-item {
    .air-layout-menu-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: all 0.3s;

      margin: 6px 4px;
      border-radius: 5px;
      height: 32px;
      width: 32px;
      box-sizing: border-box;

      &:hover {
        background-color: #e7e7e7;
      }

      .air-layout-menu-item-selected {
        position: absolute;
        left: 0;
        height: 30px;
        width: 3px;
        border-radius: 0 2px 2px 0;
        background-color: #0D46A1;
      }
    }
  }
}