.air-slide-body {
  font-family: var(--font-family);
  box-sizing: border-box;

  .semi-tabs {
    .semi-tabs-bar {
      height: 36px;
      box-sizing: border-box;
      margin-top: 4px;
      padding: 0 16px;

      .semi-tabs-tab {
        font-size: 0.9rem;
      }
    }
  }

  .semi-tabs-content {
    padding: 0;
  }
}

.air-slide-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}
